# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Archivos de Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/
[Aa]ssets/AssetStoreTools*

# Archivos de configuración del usuario de Unity
UserSettings/

# Archivos de paquetes
*.unitypackage

# Archivos de IDE
*.csproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.opendb
*.VC.db

# Archivos específicos de Visual Studio y Rider
.vscode/
.idea/
*.iml

# Archivos generados de la caché y otros temporales
*.stacktrace
*.bak
*.old
*.save
*.tmp
*.swp
*.swm
*.log
.DS_Store
Thumbs.db

# Archivos de TextMesh Pro
[Tt]extMeshPro/

# Configuración de colaboración de Unity
/[Uu]ser[Ss]ettings/
